html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  padding: 0 1.5rem;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.bar {
  height: 50px;
  display: flex;
  width: 600px;
}

.dem {
  background: blue;
  height: 100%;
}

.rep {
  background: red;
  height: 100%;
}

.swing {
  background: #888;
  height: 100%;
}
