@import-normalize;
@import "variables";

html {
  font-family: $fontStack;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.dem-state {
  background-color: $demColor;
  &:hover {
    background-color: lighten($demColor, 10%);
  }
}

.rep-state {
  background-color: $repColor;
  &:hover {
    background-color: lighten($repColor, 10%);
  }
}

.blank-state {
  background-color: $blankColor;
  &:hover {
    background-color: darken($blankColor, 10%);
  }
}

.states-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 600px) {
    flex-direction: row;
  }
}
