@import-normalize;
@import "variables";

html {
  font-family: $fontStack;
}

body {
  margin: 0;
  color: #222;
}

.dem-state {
  background-color: $demColor;
  transition: background-color 0.3s;
  &:hover {
    background-color: lighten($demColor, 10%);
  }
}

.rep-state {
  background-color: $repColor;
  transition: background-color 0.3s;
  &:hover {
    background-color: lighten($repColor, 10%);
  }
}

.blank-state {
  background-color: $blankColor;
  transition: background-color 0.3s;
  &:hover {
    background-color: lighten($blankColor, 10%);
  }
}
